@import "../mixins.scss";

.container {
	margin-top: 5em;
	@include flex(column, center, center);
	width: 80vw;
}

.rowContainer {
	@include flex(row, center, flex-end);
	gap: 10vw;
	width: 80vw;
}

@media (max-width: 425px) {
	.rowContainer {
		flex-wrap: wrap;
	}
}
