@import "../mixins.scss";

.container {
	margin-top: 10%;
	@include flex(column, center, center);
	width: 80vw;
}

.rowContainer {
	margin-top: 0%;
	@include flex(row, center, flex-end);
	gap: 10vw;
	width: 80vw;
}
