@import "../mixins.scss";

.wrapper {
	@include flex(column, center, center);
	height: 100vh;
	overflow: hidden;
}

.main {
	height: 100%;
	flex: 1 1 auto;
	z-index: 10;
}

.footer {
	@include flex(row, center, center);
	height: 8vh;
	color: #eee;
	font-size: 0.8rem;
}
