@import "../../templates.scss";
@import "../../variables.scss";

.button {
	background: transparent;
	width: 6rem;
	height: 3rem;
	@extend %standard-border;
	font-size: 25px;
	cursor: pointer;
	@extend %transition-regular;
	&:hover {
		background: #fff;
		color: $background;
	}
	&:active {
		background: #000;
		color: #fff;
	}
}
